In [34]:
import pandas as pd
import numpy as np
import sklearn.metrics

In [35]:
df_original = pd.read_csv('Original_data_2002_2015.csv')
df_original.head()

,id,season,team1_id,team1_score,team2_id,team2_score,numot,team1_seed,team2_seed,host_site,...,team1_pt_career_overall_losses,team2_pt_career_overall_losses,team1_pt_team_season_wins,team2_pt_team_season_wins,team1_pt_team_season_losses,team2_pt_team_season_losses,team1_pt_coach_season_wins,team2_pt_coach_season_wins,team1_pt_coach_season_losses,team2_pt_coach_season_losses
0,2002-1373-1108,2002,1373,81,1108,77,0,16,16,Dayton,...,18,210,16,21,18,9,16,21,18,9
1,2002-1104-1194,2002,1104,86,1194,78,0,2,15,Greenville,...,73,63,26,19,7,11,26,19,7,11
2,2002-1112-1364,2002,1112,86,1364,81,0,3,14,Albuquerque,...,239,52,22,20,9,10,22,20,9,10
3,2002-1181-1457,2002,1181,84,1457,37,0,1,16,Greenville,...,226,41,29,19,3,11,29,19,3,11
4,2002-1231-1428,2002,1231,75,1428,56,0,5,12,Sacramento,...,24,133,20,21,11,8,20,21,11,8

In [36]:
len(df_original.columns)

98

## make labels to original data

In [37]:
from sklearn.cross_validation import train_test_split

In [38]:
df_label_1,df_label_0 = train_test_split(df_original,test_size = 0.5,random_state = 2016)

In [39]:
df_label_1['label']=1
df_label_1.head()

/Users/williamz/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,id,season,team1_id,team1_score,team2_id,team2_score,numot,team1_seed,team2_seed,host_site,...,team2_pt_career_overall_losses,team1_pt_team_season_wins,team2_pt_team_season_wins,team1_pt_team_season_losses,team2_pt_team_season_losses,team1_pt_coach_season_wins,team2_pt_coach_season_wins,team1_pt_coach_season_losses,team2_pt_coach_season_losses,label
339,2007-1246-1437,2007,1246,67,1437,58,0,8,9,Chicago,...,154,21,22,11,10,21,22,11,10,1
293,2006-1261-1401,2006,1261,58,1401,57,0,4,12,Jacksonville,...,50,23,21,8,8,23,21,8,8,1
782,2014-1173-1326,2014,1173,60,1326,59,0,11,6,Raleigh,...,113,23,25,10,9,23,25,10,9,1
903,2015-1277-1328,2015,1277,62,1328,58,0,7,3,New York,...,352,23,22,11,10,23,22,11,10,1
682,2012-1257-1307,2012,1257,59,1307,56,0,4,5,Portland,...,199,26,27,9,6,26,27,9,6,1

In [40]:
df_label_0['label']=0
df_0_col = df_label_0.columns.tolist()
df_0_col[:10]

/Users/williamz/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

['id',
 'season',
 'team1_id',
 'team1_score',
 'team2_id',
 'team2_score',
 'numot',
 'team1_seed',
 'team2_seed',
 'host_site']

In [41]:
for i in range(len(df_0_col)):
    if 'team2' in df_0_col[i]:
        df_0_col[i]=df_0_col[i][:4]+'3'+df_0_col[i][5:]

In [42]:
for i in range(len(df_0_col)):
    if 'team1' in df_0_col[i]:
        df_0_col[i]=df_0_col[i][:4]+'2'+df_0_col[i][5:]

In [43]:
for i in range(len(df_0_col)):
    if 'team3' in df_0_col[i]:
        df_0_col[i]=df_0_col[i][:4]+'1'+df_0_col[i][5:]

In [44]:
df_0_col[:10]

['id',
 'season',
 'team2_id',
 'team2_score',
 'team1_id',
 'team1_score',
 'numot',
 'team2_seed',
 'team1_seed',
 'host_site']

In [45]:
df_label_0_swap = df_label_0[df_0_col]
df_label_0_swap.columns = df_label_0.columns.tolist()
df_label_0_swap.head()

,id,season,team1_id,team1_score,team2_id,team2_score,numot,team1_seed,team2_seed,host_site,...,team2_pt_career_overall_losses,team1_pt_team_season_wins,team2_pt_team_season_wins,team1_pt_team_season_losses,team2_pt_team_season_losses,team1_pt_coach_season_wins,team2_pt_coach_season_wins,team1_pt_coach_season_losses,team2_pt_coach_season_losses,label
607,2011-1345-1389,2011,1389,43,1345,65,0,14,3,Washington,...,68,20,25,13,7,20,25,13,7,0
120,2003-1400-1163,2003,1163,78,1400,82,0,5,1,Minneapolis,...,183,21,22,9,6,21,22,9,6,0
467,2009-1156-1448,2009,1448,69,1156,84,0,4,13,Portland,...,179,24,25,6,10,24,25,6,10,0
477,2009-1393-1372,2009,1372,44,1393,59,0,14,3,Minneapolis,...,287,24,26,7,9,24,26,7,9,0
122,2003-1266-1246,2003,1246,69,1266,83,0,1,3,San Antonio,...,40,29,23,3,5,29,23,3,5,0

In [46]:
df_label_1.head()

,id,season,team1_id,team1_score,team2_id,team2_score,numot,team1_seed,team2_seed,host_site,...,team2_pt_career_overall_losses,team1_pt_team_season_wins,team2_pt_team_season_wins,team1_pt_team_season_losses,team2_pt_team_season_losses,team1_pt_coach_season_wins,team2_pt_coach_season_wins,team1_pt_coach_season_losses,team2_pt_coach_season_losses,label
339,2007-1246-1437,2007,1246,67,1437,58,0,8,9,Chicago,...,154,21,22,11,10,21,22,11,10,1
293,2006-1261-1401,2006,1261,58,1401,57,0,4,12,Jacksonville,...,50,23,21,8,8,23,21,8,8,1
782,2014-1173-1326,2014,1173,60,1326,59,0,11,6,Raleigh,...,113,23,25,10,9,23,25,10,9,1
903,2015-1277-1328,2015,1277,62,1328,58,0,7,3,New York,...,352,23,22,11,10,23,22,11,10,1
682,2012-1257-1307,2012,1257,59,1307,56,0,4,5,Portland,...,199,26,27,9,6,26,27,9,6,1

In [47]:
df_label = pd.concat([df_label_1,df_label_0_swap],ignore_index=False)

In [48]:
df_label=df_label.sort_index()
df_label.head()
#df_label.to_csv('to_tree.csv',index=False)

,id,season,team1_id,team1_score,team2_id,team2_score,numot,team1_seed,team2_seed,host_site,...,team2_pt_career_overall_losses,team1_pt_team_season_wins,team2_pt_team_season_wins,team1_pt_team_season_losses,team2_pt_team_season_losses,team1_pt_coach_season_wins,team2_pt_coach_season_wins,team1_pt_coach_season_losses,team2_pt_coach_season_losses,label
0,2002-1373-1108,2002,1373,81,1108,77,0,16,16,Dayton,...,210,16,21,18,9,16,21,18,9,1
1,2002-1104-1194,2002,1194,78,1104,86,0,15,2,Greenville,...,73,19,26,11,7,19,26,11,7,0
2,2002-1112-1364,2002,1364,81,1112,86,0,14,3,Albuquerque,...,239,20,22,10,9,20,22,10,9,0
3,2002-1181-1457,2002,1181,84,1457,37,0,1,16,Greenville,...,41,29,19,3,11,29,19,3,11,1
4,2002-1231-1428,2002,1231,75,1428,56,0,5,12,Sacramento,...,133,20,21,11,8,20,21,11,8,1

# prepare for model

In [49]:
#remove rows without rpi
df_label_rena = df_label.dropna(subset=['team1_rpi_rating','team2_rpi_rating'],axis=0,how='any')

In [50]:
#remove columns with nan
df_label_rena = df_label_rena.dropna(axis=1,how='any')

In [51]:
df_label_rena.columns

Index([u'id', u'season', u'team1_id', u'team1_score', u'team2_id',
       u'team2_score', u'numot', u'team1_seed', u'team2_seed', u'host_site',
       u'host_lat', u'host_long', u'team1_teamname', u'team2_teamname',
       u'team1_fg2pct', u'team2_fg2pct', u'team1_fg3pct', u'team2_fg3pct',
       u'team1_ftpct', u'team2_ftpct', u'team1_blockpct', u'team2_blockpct',
       u'team1_oppfg2pct', u'team2_oppfg2pct', u'team1_oppfg3pct',
       u'team2_oppfg3pct', u'team1_oppftpct', u'team2_oppftpct',
       u'team1_oppblockpct', u'team2_oppblockpct', u'team1_f3grate',
       u'team2_f3grate', u'team1_oppf3grate', u'team2_oppf3grate',
       u'team1_arate', u'team2_arate', u'team1_opparate', u'team2_opparate',
       u'team1_stlrate', u'team2_stlrate', u'team1_oppstlrate',
       u'team2_oppstlrate', u'team1_lat', u'team2_lat', u'team1_long',
       u'team2_long', u'team1_rpi_rating', u'team2_rpi_rating',
       u'team1_coach_id', u'team2_coach_id', u'team1_coach_name',
       u'team2_coach_name', u'team1_pt_school_ncaa', u'team2_pt_school_ncaa',
       u'team1_pt_overall_ncaa', u'team2_pt_overall_ncaa',
       u'team1_pt_school_s16', u'team2_pt_school_s16', u'team1_pt_overall_s16',
       u'team2_pt_overall_s16', u'team1_pt_school_ff', u'team2_pt_school_ff',
       u'team1_pt_overall_ff', u'team2_pt_overall_ff',
       u'team1_pt_career_school_wins', u'team2_pt_career_school_wins',
       u'team1_pt_career_school_losses', u'team2_pt_career_school_losses',
       u'team1_pt_career_overall_losses', u'team2_pt_career_overall_losses',
       u'team1_pt_team_season_wins', u'team2_pt_team_season_wins',
       u'team1_pt_team_season_losses', u'team2_pt_team_season_losses',
       u'team1_pt_coach_season_wins', u'team2_pt_coach_season_wins',
       u'team1_pt_coach_season_losses', u'team2_pt_coach_season_losses',
       u'label'],
      dtype='object')

In [52]:
# remove ids and names
list_remove = ['team1_id','team2_id','team1_score','team2_score',
               'host_site','host_lat',u'host_long', u'team1_teamname', u'team2_teamname',
               u'team1_lat', u'team2_lat', u'team1_long',
       u'team2_long', u'team1_coach_id', u'team2_coach_id',u'team1_coach_name', u'team2_coach_name','id','season','numot']
df_label_rena_rename = df_label_rena.drop(list_remove,axis=1)

In [53]:
df_label_rena_rename.head()

,team1_seed,team2_seed,team1_fg2pct,team2_fg2pct,team1_fg3pct,team2_fg3pct,team1_ftpct,team2_ftpct,team1_blockpct,team2_blockpct,...,team2_pt_career_overall_losses,team1_pt_team_season_wins,team2_pt_team_season_wins,team1_pt_team_season_losses,team2_pt_team_season_losses,team1_pt_coach_season_wins,team2_pt_coach_season_wins,team1_pt_coach_season_losses,team2_pt_coach_season_losses,label
0,16,16,45.6127,48.9138,34.6260,37.5556,74.4032,64.2105,11.3308,9.4340,...,210,16,21,18,9,16,21,18,9,1
1,15,2,45.0355,50.6579,33.9114,30.8677,66.7785,73.5782,8.1871,8.0468,...,73,19,26,11,7,19,26,11,7,0
2,14,3,47.0414,50.0000,40.8247,37.6093,75.8117,73.0769,8.7185,7.2512,...,239,20,22,10,9,20,22,10,9,0
3,1,16,57.4329,47.6420,36.2651,30.5603,68.9845,65.5914,7.2251,11.6301,...,41,29,19,3,11,29,19,3,11,1
4,5,12,48.3696,50.3060,40.0000,40.4719,69.4561,67.9443,12.5086,7.3961,...,133,20,21,11,8,20,21,11,8,1

# Random Forest

In [54]:
predictor = df_label_rena_rename.drop('label',axis=1)
label = df_label_rena_rename.label

In [55]:
pred_train,pred_test,lab_train,lab_test = train_test_split(predictor,label,test_size=0.3,random_state=2016)
pred_train.shape,pred_test.shape

((616, 58), (264, 58))

In [56]:
from sklearn.ensemble import RandomForestRegressor

classifier = RandomForestRegressor(n_estimators=25, random_state=2016, max_depth = 6)
classifier.fit(pred_train,lab_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=6,
           max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=25, n_jobs=1, oob_score=False, random_state=2016,
           verbose=0, warm_start=False)

In [57]:
predictions = classifier.predict(pred_test)

In [58]:
original_loss = sklearn.metrics.log_loss(lab_test,predictions)
original_loss

0.6159877636791975

# feature remove

In [59]:
def Pick_feature(pred_train,pred_test,lab_train,lab_test):
    log_loss=np.array([])
    for i in range(pred_train.shape[1]/2):
        feature_remove=pred_train.columns.tolist()[i*2:i*2+2]
        new_pred_train = pred_train.drop(feature_remove,axis=1)
        new_pred_test = pred_test.drop(feature_remove,axis=1)
        classifier = RandomForestRegressor(n_estimators=25, random_state=2016, max_depth = 6)
        classifier.fit(new_pred_train,lab_train)
    
        predictions = classifier.predict(new_pred_test)
        log_loss = np.append(log_loss,sklearn.metrics.log_loss(lab_test,predictions))
        
    return np.where(log_loss==min(log_loss))[0][0],min(log_loss)

In [60]:
Pick_feature(pred_train,pred_test,lab_train,lab_test)

(17, 0.60245491140160978)

In [61]:
pred_train.columns

Index([u'team1_seed', u'team2_seed', u'team1_fg2pct', u'team2_fg2pct',
       u'team1_fg3pct', u'team2_fg3pct', u'team1_ftpct', u'team2_ftpct',
       u'team1_blockpct', u'team2_blockpct', u'team1_oppfg2pct',
       u'team2_oppfg2pct', u'team1_oppfg3pct', u'team2_oppfg3pct',
       u'team1_oppftpct', u'team2_oppftpct', u'team1_oppblockpct',
       u'team2_oppblockpct', u'team1_f3grate', u'team2_f3grate',
       u'team1_oppf3grate', u'team2_oppf3grate', u'team1_arate',
       u'team2_arate', u'team1_opparate', u'team2_opparate', u'team1_stlrate',
       u'team2_stlrate', u'team1_oppstlrate', u'team2_oppstlrate',
       u'team1_rpi_rating', u'team2_rpi_rating', u'team1_pt_school_ncaa',
       u'team2_pt_school_ncaa', u'team1_pt_overall_ncaa',
       u'team2_pt_overall_ncaa', u'team1_pt_school_s16',
       u'team2_pt_school_s16', u'team1_pt_overall_s16',
       u'team2_pt_overall_s16', u'team1_pt_school_ff', u'team2_pt_school_ff',
       u'team1_pt_overall_ff', u'team2_pt_overall_ff',
       u'team1_pt_career_school_wins', u'team2_pt_career_school_wins',
       u'team1_pt_career_school_losses', u'team2_pt_career_school_losses',
       u'team1_pt_career_overall_losses', u'team2_pt_career_overall_losses',
       u'team1_pt_team_season_wins', u'team2_pt_team_season_wins',
       u'team1_pt_team_season_losses', u'team2_pt_team_season_losses',
       u'team1_pt_coach_season_wins', u'team2_pt_coach_season_wins',
       u'team1_pt_coach_season_losses', u'team2_pt_coach_season_losses'],
      dtype='object')

In [62]:
loss0=loss1=original_loss
pred_train0=pred_train.copy()
pred_test0=pred_test.copy()
j=0
while j<10:
    loss0=loss1
    ind,loss1 = Pick_feature(pred_train0,pred_test0,lab_train,lab_test)
    print (ind,pred_train0.columns[ind*2],loss1)
    if loss1>=loss0:
        break
    pred_train0 = pred_train0.drop(pred_train0.columns[ind*2:ind*2+2],axis = 1)
    pred_test0 = pred_test0.drop(pred_test0.columns[ind*2:ind*2+2],axis = 1)
    j+=1

(17, 'team1_pt_overall_ncaa', 0.60245491140160978)
(6, 'team1_oppfg3pct', 0.59054162952873435)
(20, 'team1_pt_career_school_wins', 0.58143151956655581)
(16, 'team1_pt_school_s16', 0.57263776496724617)
(15, 'team1_pt_school_ncaa', 0.56658083148838478)
(6, 'team1_oppftpct', 0.56184682090484694)
(14, 'team1_pt_overall_s16', 0.56480427510424436)

In [63]:
col_used = pred_train0.columns.tolist()

# Test features

In [87]:
#test 2014
train_2014 = df_label_rena[df_label.season!=2014][col_used]
train_2014_label = df_label_rena[df_label.season!=2014]['label']
test_2014 = df_label_rena[df_label.season==2014][col_used]
test_2014_label = df_label_rena[df_label.season==2014]['label']
train_2014.shape,test_2014.shape,test_2014_label.shape

((816, 46), (64, 46), (64,))

In [90]:
#test 2015
train_2015 = df_label_rena[df_label.season!=2015][col_used]
train_2015_label = df_label_rena[df_label.season!=2015]['label']
test_2015 = df_label_rena[df_label.season==2015][col_used]
test_2015_label = df_label_rena[df_label.season==2015]['label']
train_2015.shape,test_2015.shape

((815, 46), (65, 46))

In [118]:
classifier = RandomForestRegressor(n_estimators=25,max_depth=6,random_state=2016)
classifier.fit(train_2014,train_2014_label)
pred_2014 = classifier.predict(test_2014)
sklearn.metrics.log_loss(test_2014_label,pred_2014)

0.54914914774821177

In [119]:
df_2014 = pd.DataFrame(df_label_rena[df_label_rena.season==2014].id)
df_2014['pred'] = pred_2014.T
df_2014.to_csv('fea_rf_2014.csv',index=False)

In [91]:
classifier.fit(train_2015,train_2015_label)
pred_2015 = classifier.predict(test_2015)
sklearn.metrics.log_loss(test_2015_label,pred_2015)

0.51784597258070431

In [120]:
df_2015 = pd.DataFrame(df_label_rena[df_label_rena.season==2015].id)
df_2015['pred'] = pred_2015.T
df_2015.to_csv('fea_rf_2015.csv',index=False)

# submit prediction

In [121]:
final_pred = pd.read_csv('march_madness_final_4.csv')
#final_pred.game_id = final_pred.game_id.apply(lambda s:s.replace('-','_'))
final_pred_picked = final_pred[col_used]
final_pred_picked.shape

(2278, 46)

In [122]:
rf_final = RandomForestRegressor(n_estimators=25, max_depth=6, random_state=2016)
rf_final.fit(pred_test0,lab_test)
final_pred_result = rf_final.predict(final_pred_picked)

In [125]:
submit_df = pd.DataFrame([final_pred.game_id,final_pred_result]).T
submit_df.columns = ['id','pred']
submit_df.to_csv('feature_sel_2016.csv',index=False)
submit_df.head()

               id      pred
0  2016-1314-1462   0.61082
1  2016-1314-1452  0.629707
2  2016-1314-1246  0.418943
3  2016-1314-1231  0.528457
4  2016-1314-1323  0.451085

In [101]:
sample_submit = pd.read_csv('kaggle_submit111.csv')
submit_pred = sample_submit[col_used]

In [105]:
submit_df = pd.DataFrame([sample_submit.Id,final_pred_result]).T
submit_df.columns.values[1]='Pred'
submit_df.head()

               Id      Pred
0  2016_1112_1114  0.374488
1  2016_1112_1122  0.765059
2  2016_1112_1124  0.296528
3  2016_1112_1138  0.718644
4  2016_1112_1139  0.458137

In [106]:
submit_df.to_csv('submit_v1.csv',index=False)

# feature importance

In [34]:
from sklearn.ensemble import ExtraTreesRegressor

In [38]:
model = ExtraTreesRegressor()
model.fit(pred_train0,lab_train)

ExtraTreesRegressor(bootstrap=False, criterion='mse', max_depth=None,
          max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
          min_samples_split=2, min_weight_fraction_leaf=0.0,
          n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
          verbose=0, warm_start=False)

In [39]:
importance0 = dict(zip(pred_train0.columns.tolist(),[ round(i,5) for i in model.feature_importances_]))
sorted(importance0.items(),key= lambda s:s[1],reverse=True)[:20]

[('team1_seed', 0.18261),
 ('team2_rpi_rating', 0.07843),
 ('team2_seed', 0.07417),
 ('team1_rpi_rating', 0.05544),
 ('team2_opparate', 0.02729),
 ('team1_opparate', 0.02224),
 ('team2_f3grate', 0.02191),
 ('team1_blockpct', 0.02125),
 ('team2_ftpct', 0.01968),
 ('team1_f3grate', 0.01924),
 ('team1_oppf3grate', 0.01819),
 ('team1_pt_coach_season_wins', 0.01786),
 ('team2_pt_overall_s16', 0.01721),
 ('team1_oppfg2pct', 0.01701),
 ('team2_stlrate', 0.01691),
 ('team1_pt_school_ff', 0.01618),
 ('team2_oppstlrate', 0.01602),
 ('team1_pt_overall_s16', 0.01593),
 ('team2_arate', 0.01576),
 ('team1_stlrate', 0.01552)]

In [37]:
importance = dict(zip(predictor.columns.tolist(),[ round(i,5) for i in classifier.feature_importances_]))
sorted(importance.items(),key= lambda s:s[1],reverse=True)[:20]

[('team1_seed', 0.22995),
 ('team2_rpi_rating', 0.15565),
 ('team1_rpi_rating', 0.10702),
 ('team1_blockpct', 0.03154),
 ('team2_seed', 0.02438),
 ('team2_pt_overall_ncaa', 0.02114),
 ('team2_oppfg3pct', 0.01794),
 ('team2_oppftpct', 0.01721),
 ('team1_opparate', 0.01621),
 ('team2_oppf3grate', 0.0161),
 ('team2_fg2pct', 0.01517),
 ('team2_stlrate', 0.01479),
 ('team2_arate', 0.01402),
 ('team2_pt_school_ncaa', 0.0137),
 ('team2_pt_career_school_wins', 0.01241),
 ('team1_oppfg2pct', 0.01216),
 ('team1_oppblockpct', 0.01166),
 ('team2_blockpct', 0.01138),
 ('team1_f3grate', 0.01134),
 ('team1_oppfg3pct', 0.01112)]