In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [57]:
df_orginal = pd.read_csv('Original_data_2002_2015.csv')

In [58]:
df_2015 = df_orginal[df_orginal.season==2015]

In [67]:
team2_col = [i for i in df_2015.columns.tolist() if 'team2_' in i]
team1_col = [i for i in df_2015.columns.tolist() if 'team1_' in i]
df_2015_team1 = df_2015[team1_col]
df_2015_team2 = df_2015[team2_col]
df_2015_team1.columns = [i[6:] for i in df_2015_team1.columns.tolist()]
df_2015_team2.columns = [i[6:] for i in df_2015_team2.columns.tolist()]

In [73]:
df_2015_team = pd.concat([df_2015_team1,df_2015_team2],ignore_index=True)
df_2015_team = df_2015_team.drop(['score','seed'],axis=1)
df_2015_team = df_2015_team.drop_duplicates(subset = 'id')
df_2015_team = df_2015_describe.reset_index(drop=True)

In [74]:
col_describe = ['teamname','pt_coach_season_wins','pt_coach_season_losses','fg2pct','fg3pct','ftpct','arate','blockpct','stlrate',
               'rpi_rating','tempo']
df_2015_describe = df_2015_team[col_describe]
df_2015_describe = df_2015_describe.dropna(axis=0)

In [106]:
df_2015_describe.head()

,teamname,pt_coach_season_wins,pt_coach_season_losses,fg2pct,fg3pct,ftpct,arate,blockpct,stlrate,rpi_rating,tempo
0,Hampton,17,17,45.9416,30.4065,65.2120,46.4807,10.7570,0.0961,0.563,69.1423
1,Mississippi,21,12,46.8927,33.8235,77.8417,52.1574,11.1528,0.0983,0.565,66.5662
2,Dayton,25,8,52.9064,35.1485,68.2741,60.8000,7.1979,0.1079,0.563,64.3660
3,Robert Morris,20,14,47.5845,38.0180,71.4065,50.3741,8.2835,0.1271,0.565,66.7335
4,Arizona,31,3,53.4495,35.9833,69.9085,53.1938,10.1582,0.1070,0.563,66.8428

In [115]:
df_2015_radar = pd.DataFrame([])
df_2015_radar['teamname'] = df_2015_describe.teamname
df_2015_radar['offensive'] = df_2015_describe.fg2pct+df_2015_describe.fg3pct+df_2015_describe.ftpct+df_2015_describe.arate
df_2015_radar['defensive'] = df_2015_describe.blockpct+df_2015_describe.stlrate*100
df_2015_radar['tempo'] = df_2015_describe.tempo
df_2015_radar['coach'] = df_2015_describe.pt_coach_season_wins.astype(float)/(df_2015_describe.pt_coach_season_losses+df_2015_describe.pt_coach_season_wins)
df_2015_radar['rpi_rating'] = df_2015_describe.rpi_rating

In [108]:
df_2015_radar.head()

        teamname  offensive  defensive    tempo     coach  rpi_rating
0        Hampton   188.0408    20.3670  69.1423  0.500000       0.563
1    Mississippi   210.7153    20.9828  66.5662  0.636364       0.565
2         Dayton   217.1290    17.9879  64.3660  0.757576       0.563
3  Robert Morris   207.3831    20.9935  66.7335  0.588235       0.565
4        Arizona   212.5351    20.8582  66.8428  0.911765       0.563

In [109]:
from sklearn import preprocessing

In [116]:
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(1,5))
df_2015_radar['offensive'] = min_max_scaler.fit_transform(df_2015_radar.offensive) 
df_2015_radar['defensive'] = min_max_scaler.fit_transform(df_2015_radar.defensive) 
df_2015_radar['tempo'] = min_max_scaler.fit_transform(df_2015_radar.tempo) 
df_2015_radar['coach'] = min_max_scaler.fit_transform(df_2015_radar.coach) 
df_2015_radar['rpi_rating'] = min_max_scaler.fit_transform(df_2015_radar.rpi_rating)

/Users/williamz/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:324: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/williamz/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:359: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/williamz/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:324: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/williamz/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:359: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/williamz/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:324: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/williamz/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:359: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/williamz/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:324: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/williamz/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:359: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/williamz/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:324: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/williamz/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:359: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [124]:
df_2015_radar.head()

        teamname  offensive  defensive     tempo     coach  rpi_rating
0        Hampton   1.000000   2.607891  4.635812  1.000000    4.602484
1    Mississippi   3.068233   2.787589  3.837899  2.090909    4.652174
2         Dayton   3.653252   1.913638  3.156417  3.060606    4.602484
3  Robert Morris   2.764289   2.790712  3.889718  1.705882    4.652174
4        Arizona   3.234224   2.751229  3.923573  4.294118    4.602484

In [123]:
df_2015_radar.to_csv('df_2015_radar.csv',delimeter = ',',float_format='%.2f',index=False)